<a href="https://colab.research.google.com/github/Ashish265/NLP-spacy/blob/master/Movie_reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [12]:
df= pd.read_csv("/content/moviereviews.tsv",sep = "\t")

In [13]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [14]:
labels = {'neg':0,"pos":1}

In [15]:
df['label']  = df['label'].map(labels)

In [16]:
df.head()

   label                                             review
0      0  how do films like mouse hunt get into theatres...
1      0  some talented actresses are blessed with a dem...
2      1  this has been an extraordinary year for austra...
3      1  according to hollywood movies made in last few...
4      0  my first press screening of 1998 and already i...

In [17]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [18]:
df.dropna(inplace=True)

In [19]:
blanks = []
for i,lb,rv in df.itertuples():
  if rv.isspace():
    blanks.append(i)

In [20]:
df.drop(blanks,inplace=True)

In [21]:
X = df['review']
y = df['label']

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [24]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [44]:
text_clf = Pipeline([('tfidf',TfidfVectorizer()),
                     ('clf',LinearSVC())])

In [45]:
text_clf.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('clf',
                 LinearSVC(C=1.0, class_weight=None, dual=True,
                           fit_intercept=True, intercept_scaling=1,
                           loss='squared_hinge', max_iter=1000,
                           multi_class='ovr', penalty='l2', random_state=None,
                           tol=0.0001, verbose=0))],
         verbose=False)

In [46]:
prediction = text_clf.predict(X_test)

In [47]:
print(confusion_matrix(y_test,prediction))

[[235  47]
 [ 41 259]]

In [48]:
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           0       0.85      0.83      0.84       282
           1       0.85      0.86      0.85       300

    accuracy                           0.85       582
   macro avg       0.85      0.85      0.85       582
weighted avg       0.85      0.85      0.85       582

In [49]:
print(accuracy_score(y_test,prediction))

0.8487972508591065